
@model Employee

<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.LastName, @Model.FirstName?
</div>
<form  method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-controller="Employee" asp-action="List" class="btn btn-outline-primary">Cancel</a>
</form>