
@model Employee
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Editing @Model.LastName, @Model.FirstName</h1>

<form method="post">

    <input type="hidden" asp-for=@Model.EmployeeId />
    <div class="form-group">
        <label asp-for=@Model.EmailAlias></label>
        <input asp-for=@Model.EmailAlias class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for=@Model.LastName></label>
        <input asp-for=@Model.LastName class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for=@Model.FirstName></label>
        <input asp-for=@Model.FirstName class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for=@Model.MiddleName></label>
        <input asp-for=@Model.MiddleName class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for=@Model.Office></label>
        <input asp-for=@Model.Office class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for=@Model.Region></label>
        <input asp-for=@Model.Region class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>