@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Read up on the <a href="https://drive.google.com/open?id=1hh6XPRZGnbjDx9o0tZc_U-vL4MBViejp">original documentation</a> that this project is based on.</p>
</div>
